<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ericchee.mailedit">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="HELLLLOOO"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:name=".MailedItApp"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.UltimateMainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.EmailDetailActivity" />
        <activity android:name=".activity.ComposeActivity" />
        <activity android:name=".activity.ListEmailsActivity">

        </activity>
    </application>

</manifest>